## SQL to get data between 2001 and 2016

In [67]:
# --select count(DISTINCT obs.PATIENT_NUM),count(obs.PATIENT_NUM)  

# select *


# from NSF_Algorithms.dbo.observation_fact obs, NSF_Algorithms.dbo.concept_dimension con
# where obs.Concept_cd=con.Concept_cd
# 	AND
# 		(
# 		con.concept_path like '%fertility%' 
# 		OR
# 		con.concept_path like '%Family Planning%' )
# 	AND
# 		YEAR(obs.Start_Date) between 2001 and 2016

# explore related features about fertility and Family Planning

In [50]:
import pandas as pd

## how many observations?

In [51]:
df=pd.read_csv('data2001_2016.csv')
#df=pd.read_excel('data2001_2016.xlsx')

In [52]:
print(df.shape)
df.describe(include='all')
#fertility2001_2016_summary=data.describe(include='all')
#fertility2001_2016_summary.to_csv('fertility2001_2016_summary.csv')

(86855, 32)

,UPLOAD_ID,INSTANCE_NUM,ENCOUNTER_NUM,PATIENT_NUM,CONCEPT_CD,PROVIDER_ID,START_DATE,MODIFIER_CD,VALTYPE_CD,TVAL_CHAR,...,SOURCESYSTEM_CD,CONCEPT_PATH,CONCEPT_CD.1,NAME_CHAR,CONCEPT_BLOB,UPDATE_DATE.1,DOWNLOAD_DATE.1,IMPORT_DATE.1,SOURCESYSTEM_CD.1,UPLOAD_ID.1
count,0.0,86855.0,8.685500e+04,8.685500e+04,86855,86855,86855,86855,86855,86800,...,86855,86855,86855,86855,0.0,0.0,0.0,0.0,86855,0.0
unique,NaN,NaN,NaN,NaN,53,776,3562,1,2,660,...,2,55,53,48,NaN,NaN,NaN,NaN,4,NaN
top,NaN,NaN,NaN,NaN,HDID:7177,@,00:00.0,@,T,PRIMARY,...,BMC Logician,\i2b2\Diagnoses\Genitourinary system (580-629)...,HDID:7177,"infertility, hx of (HDID:7177)",NaN,NaN,NaN,NaN,BMC Logician,NaN
freq,NaN,NaN,NaN,NaN,13746,33307,13145,86855,78034,18847,...,53548,13142,13746,13746,NaN,NaN,NaN,NaN,42307,NaN
mean,NaN,0.0,5.761052e+06,5.340185e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,0.0,9.037591e+06,3.451386e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,0.0,0.000000e+00,2.170000e+02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,0.0,0.000000e+00,2.353778e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,0.0,0.000000e+00,4.788959e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,0.0,1.053695e+07,8.619986e+06,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,0.0,2.982467e+07,1.166983e+07,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## how many distinct patients?

In [54]:
len(df.PATIENT_NUM.unique())

35607

## drop NAN columns

In [55]:
df1=df.dropna(axis=1, how='all')
#df1.head()

In [56]:
#df1.describe(include='all')

In [57]:
df1.INSTANCE_NUM.unique()

array([0], dtype=int64)

## drop all 0 columns

In [58]:
df2=df1.loc[:, (df1 != df1.ix[0]).any()]

F:\Users\wudai.BMC\AppData\Local\Continuum\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  """Entry point for launching an IPython kernel.

In [59]:
fertility2001_2016_summary2=df2.describe(include='all')

In [60]:
fertility2001_2016_summary2

,ENCOUNTER_NUM,PATIENT_NUM,CONCEPT_CD,PROVIDER_ID,START_DATE,VALTYPE_CD,TVAL_CHAR,NVAL_NUM,END_DATE,UPDATE_DATE,DOWNLOAD_DATE,IMPORT_DATE,SOURCESYSTEM_CD,CONCEPT_PATH,CONCEPT_CD.1,NAME_CHAR,SOURCESYSTEM_CD.1
count,8.685500e+04,8.685500e+04,86855,86855,86855,86855,86800,8821.000000,53610,86855,86855,86855,86855,86855,86855,86855,86855
unique,NaN,NaN,53,776,3562,2,660,NaN,3562,5,5,5,2,55,53,48,4
top,NaN,NaN,HDID:7177,@,00:00.0,T,PRIMARY,NaN,00:00.0,34:18.3,34:18.3,34:18.3,BMC Logician,\i2b2\Diagnoses\Genitourinary system (580-629)...,HDID:7177,"infertility, hx of (HDID:7177)",BMC Logician
freq,NaN,NaN,13746,33307,13145,78034,18847,NaN,5432,40368,40368,40368,53548,13142,13746,13746,42307
mean,5.761052e+06,5.340185e+06,NaN,NaN,NaN,NaN,NaN,12.730555,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,9.037591e+06,3.451386e+06,NaN,NaN,NaN,NaN,NaN,29.831564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000000e+00,2.170000e+02,NaN,NaN,NaN,NaN,NaN,-22.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,0.000000e+00,2.353778e+06,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,0.000000e+00,4.788959e+06,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.053695e+07,8.619986e+06,NaN,NaN,NaN,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,2.982467e+07,1.166983e+07,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
fertility2001_2016_summary2.to_csv('fertility2001_2016_summary2.csv')

## 1 high freq feature: Infertility, female, of unspecified origin  (ICD9:628.9)

In [62]:
df2[df2.CONCEPT_CD=='ICD9:628.9'].head(2)

,ENCOUNTER_NUM,PATIENT_NUM,CONCEPT_CD,PROVIDER_ID,START_DATE,VALTYPE_CD,TVAL_CHAR,NVAL_NUM,END_DATE,UPDATE_DATE,DOWNLOAD_DATE,IMPORT_DATE,SOURCESYSTEM_CD,CONCEPT_PATH,CONCEPT_CD.1,NAME_CHAR,SOURCESYSTEM_CD.1
69642,10094033,8625505,ICD9:628.9,@,09:00.0,T,PRIMARY,NaN,NaN,26:15.8,26:15.8,26:15.8,BMC SDK,\i2b2\Diagnoses\Genitourinary system (580-629)...,ICD9:628.9,"Infertility, female, of unspecified origin",RPDR
69643,9929602,473641,ICD9:628.9,@,37:00.0,T,ADMITTING,NaN,NaN,26:15.8,26:15.8,26:15.8,BMC SDK,\i2b2\Diagnoses\Genitourinary system (580-629)...,ICD9:628.9,"Infertility, female, of unspecified origin",RPDR

## 1 high freq feature: day of cycle (HDID:39874)

In [63]:
# df2[df2.CONCEPT_CD=='HDID:39874'].TVAL_CHAR.value_counts()#.head()
df2[df2.CONCEPT_CD=='HDID:39874'].head()

,ENCOUNTER_NUM,PATIENT_NUM,CONCEPT_CD,PROVIDER_ID,START_DATE,VALTYPE_CD,TVAL_CHAR,NVAL_NUM,END_DATE,UPDATE_DATE,DOWNLOAD_DATE,IMPORT_DATE,SOURCESYSTEM_CD,CONCEPT_PATH,CONCEPT_CD.1,NAME_CHAR,SOURCESYSTEM_CD.1
24932,0,4263539,HDID:39874,BMC1351435088010780,19:40.0,T,G-CSF #1,NaN,19:40.0,34:18.3,34:18.3,34:18.3,BMC Logician,\HDID2\Basic\Dx\Lab\Genetics/fertility\day of ...,HDID:39874,day of cycle (HDID:39874),BMC Logician
24933,0,5054511,HDID:39874,BMC1250616392000980,38:33.0,T,18,NaN,38:33.0,34:18.3,34:18.3,34:18.3,BMC Logician,\HDID2\Basic\Dx\Lab\Genetics/fertility\day of ...,HDID:39874,day of cycle (HDID:39874),BMC Logician
24934,0,11416874,HDID:39874,BMC1351435088010780,56:19.0,T,15,NaN,56:19.0,34:18.3,34:18.3,34:18.3,BMC Logician,\HDID2\Basic\Dx\Lab\Genetics/fertility\day of ...,HDID:39874,day of cycle (HDID:39874),BMC Logician
24935,0,5269439,HDID:39874,BMC1250616392000980,20:19.0,T,SCC # 2,NaN,20:19.0,34:18.3,34:18.3,34:18.3,BMC Logician,\HDID2\Basic\Dx\Lab\Genetics/fertility\day of ...,HDID:39874,day of cycle (HDID:39874),BMC Logician
24936,0,9636459,HDID:39874,BMC1250616392000980,15:18.0,T,D+13,NaN,15:18.0,34:18.3,34:18.3,34:18.3,BMC Logician,\HDID2\Basic\Dx\Lab\Genetics/fertility\day of ...,HDID:39874,day of cycle (HDID:39874),BMC Logician

##  all high freq features by value_counts of column NAME_CHAR

In [64]:
df2.NAME_CHAR.value_counts()

infertility, hx of (HDID:7177)                                                       13746
Infertility, female, of unspecified origin                                           13142
metabolic screening at birth (HDID:21762)                                            12667
Male infertility, unspecified                                                        11882
day of cycle (HDID:39874)                                                             5280
Hepatitis C virus genotype, PCR (Polymerase Chain Reaction) (HDID:11705)              4942
pregnancy test results (HDID:50588)                                                   4037
Azoospermia                                                                           3166
OB/GYN-FAMILY PLANNING                                                                3162
Infertility, female, of other specified origin                                        2050
Infertility, female, associated with anovulation                                      1190
Infertility due to extratesticular causes                                             1049
Infertility, female, of tubal origin                                                   788
sperm count, semen, point (HDID:3154)                                                  724
sperm forward progression (HDID:22244)                                                 723
semen, color (HDID:11190)                                                              723
semen viscosity (HDID:3151)                                                            722
sperm motility, quantitative (HDID:3153)                                               722
round cells, presence of immature sperm or white blood cells in semen (HDID:8048)      722
semen pH (HDID:3152)                                                                   722
semen volume (HDID:3150)                                                               714
semen analysis, sperm total count (HDID:16237)                                         712
sperm morphology (HDID:3155)                                                           672
ZZINFERTILITY SVC                                                                      567
TPMT (thiopurine methyltransferase) genetics, whole blood (HDID:29018)                 535
HIV-1 gp41 antibody, serum (HDID:137251)                                               343
Fertility testing                                                                      329
Infertility, female, of uterine origin                                                 187
Neisseria Gonorrhoeae DNA (TMA) result (HDID:46359)                                    173
Oligospermia                                                                           120
pregnancy test, date (HDID:6707)                                                        91
Tay Sachs DNA lab test (HDID:40835)                                                     42
Gaucher lab test (HDID:40834)                                                           32
Canavan lab test (HDID:40831)                                                           29
familial dysautonomia lab test (HDID:40838)                                             28
Bloom lab test (HDID:40830)                                                             28
Niemann Pick lab test (HDID:40837)                                                      27
male infertility (Toxicity Grading) (HDID:42962)                                        18
semen appearance (HDID:11173)                                                           11
Infertility, female, of pituitary-hypothalamic origin                                   10
Infertility, female, of cervical or vaginal origin                                       7
ZZINFERTILITY SVC-S                                                                      5
Tay Sachs enzyme, presence/absence (HDID:4323)                                           4
Infertility, female                                                                      4
FERTILITY                                                                                2
FAMILY PLANNING-ANTICOAGULATION                                                          2
FERTILITY-SDC                                                                            2
ENDOCRINOLOGY-FERTILITY                                                                  2
Name: NAME_CHAR, dtype: int64

In [1]:
df2.CONCEPT_PATH.value_counts()#.to_dict()

NameError: name 'df2' is not defined

In [65]:
df2.CONCEPT_CD.value_counts()

HDID:7177                                  13746
ICD9:628.9                                 13142
HDID:21762                                 12667
ICD9:606.9                                 11882
HDID:39874                                  5280
HDID:11705                                  4942
HDID:50588                                  4037
ICD9:606.0                                  3166
ICD9:628.8                                  2050
SVC:OB/GYN-FAMILY PLANNING                  1581
SVC:BMC:OB/GYN-FAMILY PLANNING              1581
ICD9:628.0                                  1190
ICD9:606.8                                  1049
ICD9:628.2                                   788
HDID:3154                                    724
HDID:22244                                   723
HDID:11190                                   723
HDID:3152                                    722
HDID:3153                                    722
HDID:8048                                    722
HDID:3151                                    722
HDID:3150                                    714
HDID:16237                                   712
HDID:3155                                    672
INS:ZZINFERTILITY SVC                        567
HDID:29018                                   535
HDID:137251                                  343
ICD9:V26.21                                  329
ICD9:628.3                                   187
HDID:46359                                   173
ICD9:606.1                                   120
HDID:6707                                     91
HDID:40835                                    42
HDID:40834                                    32
HDID:40831                                    29
HDID:40830                                    28
HDID:40838                                    28
HDID:40837                                    27
HDID:42962                                    18
HDID:11173                                    11
ICD9:628.1                                    10
ICD9:628.4                                     7
INS:ZZINFERTILITY SVC-S                        5
ICD9:628                                       4
HDID:4323                                      4
SVC:BMC:FERTILITY                              1
SVC:BMC:ENDOCRINOLOGY-FERTILITY                1
SVC:FAMILY PLANNING-ANTICOAGULATION            1
SVC:BMC:FERTILITY-SDC                          1
SVC:FERTILITY-SDC                              1
SVC:ENDOCRINOLOGY-FERTILITY                    1
SVC:BMC:FAMILY PLANNING-ANTICOAGULATION        1
SVC:FERTILITY                                  1
Name: CONCEPT_CD, dtype: int64

## most patients have 1 obs but some have dozens

In [66]:
df2.PATIENT_NUM.value_counts()

11262811    54
4703160     52
10519733    50
10434368    50
5404049     44
7907683     42
10511242    41
9928177     40
11317068    40
11010524    40
11250484    40
4980150     39
2241561     39
11055779    39
4551687     38
4185048     37
4413661     37
9302503     35
4056059     35
4099970     34
4967361     34
4466840     34
10522519    33
8741229     33
4263469     33
11566142    33
4032364     32
3742529     32
8126790     32
5937589     32
            ..
1177806      1
11000010     1
1933505      1
10543302     1
10918089     1
4229323      1
9582615      1
8939735      1
2760926      1
10223857     1
7866523      1
11157650     1
5347433      1
5023823      1
8937558      1
9312345      1
9582902      1
5494881      1
9289826      1
9044273      1
11012400     1
8929529      1
1263731      1
8992893      1
1999137      1
11225368     1
9550086      1
11032826     1
9611476      1
1176042      1
Name: PATIENT_NUM, Length: 35607, dtype: int64